<h3><%= @project.title %></h3>

<%# <form action="/projects">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Search</button>
</form> %>

<% if @project.volunteers.any? %>
  <ul>
    <% @project.volunteers.each do |volunteer| %>
      <li><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
  </ul>
      <a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>">Click here</a>
    <% end %>
  <% else %>
    <p>This project has no volunteers. <a href="/projects/<%= @project.id %>/volunteers/new">Click here</a> to add one!</p>
<% end %>



<p><a href="/projects/<%= @project.id %>/edit">Edit project</a></p>
<p><a href="/projects">Return to home</a></p>